<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>New department</title>
</head>
<body>
<form th:method="POST" th:action="@{/sales}" th:object="${sales}">
    <fieldset>

<!--
        <p style="color:red" th:if="${#fields.hasErrors('id')}" th:errors="*{id}">Name Error</p>
-->  <select name="goods" required="required">
        <option disabled>Choose good id</option>
        <tr th:each="good : ${goods}">
            <option th:text="${good.getName()}"></option>
        </tr>
    </select>
        <!--<input type="text" th:field="*{goodId}" placeholder="Good ID"/>-->
        <input type="text" th:field="*{goodCount}" placeholder="Good count"/>
        <input type="datetime-local" th:field="*{createDate}" placeholder="Date"/>

<!--
        <input type="datetime-local" th:field="*{createDate}" placeholder="create date"/>
-->
        <!--
                <p style="color:red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</p>
        -->

        <input type="submit" value="Add!"/>
    </fieldset>
</form>
</body>
</html>