</head>
<body>
<h1 style="background: lightgrey">Good from warehouse2 page</h1>


<a th:text="'Amount of goods in warehouse2: ' + ${warehouse2.getGoodCount()}"> </a>
<br>
<a th:text="'Name of goods in warehouse2: ' + ${warehouse2.getGoodId().getName()}"> </a>
<div th:switch="${#httpServletRequest.remoteUser}">
<a th:href="@{/warehouse2/{id}/edit(id=${warehouse2.getId()})}">
    <input th:case="admin" type="button" value="Edit warehouse2" />
</a>
</div>

<br/>
<div th:switch="${#httpServletRequest.remoteUser}">
    <td th:case="admin" width="50">
        <form th:method="POST" th:action="@{/warehouse2/{id}/delete(id=${warehouse2.getId()})}">
            <input type="submit" value="Delete warehouse2"/>
        </form>
    </td>
</div>

<!--<br/>
<form th:method="POST" th:action="@{/works/{id}(id=${work.getId()})}">
    <input type="submit" value="Delete work"/>
</form>
<br>
<a th:href="@{/works/{id}/edit(id=${work.getId()})}">
    <input type="button" value="Edit work">
</a>-->
<hr/>
<button>
    <a href="/warehouse2"><p> Back to warehouse2 </p></a>
</button>
</body>
</html>