<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>New department</title>
</head>
<body>
<form th:method="POST" th:action="@{/goods}" th:object="${goods}">
    <fieldset>
        <input type="text" th:field="*{name}" placeholder="Name"/>
        <input type="text" th:field="*{priority}" placeholder="Priority"/>
        <input type="submit" value="Add!"/>
    </fieldset>
</form>
</body>
</html>