<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Start Page</title>
</head>
<body>
<h1 style="background: lightblue"> <p style="text-align:center"><big>Distributor Database</big></p></h1>
<div th:switch="${#httpServletRequest.remoteUser}">
    <a th:href="@{/login}">
        <input th:case="null" type="button" value="Log in"/>
    </a>
</div>

<div th:switch="${#httpServletRequest.remoteUser}">
    <form th:action="@{/logout}" method="post">
        <input th:case="admin" type="submit" value="Sign Out"/>
    </form>
</div>
<p style="text-align:center">
<button>
<a href="/goods"><p> Goods </p></a>
</button>
<button>
<a href="/sales"><p> Sales </p></a>
</button>
<button>
<a href="/warehouse1"><p> Warehouse1 </p></a>
</button>
<button>
<a href="/warehouse2"><p> Warehouse2 </p></a>
</button>
</p>

</body>
</html>